#resume {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

#resume h1{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#resume h1 span{
    border-bottom: 3px solid #00ffd5;
    padding-bottom: 6px;
}

#resume h3{
    font: 25px/30px 'opensans-bold', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    font-family: 'opensans', sans-serif;
}

#resume .header-col{
    padding-top: 9px;
}

#resume .main-com{
    padding-right: 10%;
}

.education, .work{
    margin-bottom: 48px;
    padding-bottom: 24px;
    
    border-bottom: 1px solid #E8E8E8;
}

.work{
    padding-top: 48px;
}

#resume .info {
    font-size: 1rem;
    font-style: italic;
    font-family: 'opensans-bold';
    color: #565a5e;
    margin-bottom: 18px;
    margin-top: 9px;

}

#resume .info span {
    margin-left: 5px;
    margin-right: 5px;
}

#resume .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
}

#resume p{
    color: #838c95;
}
