.button{
  width: 100px;
  border: 2px solid #00ffd5;
  border-radius: 5px;
  padding: 5px 20px 7px 20px !important;
}
.button:hover{
  background: #00ffd5;
  color: #000 !important;
}
.link:hover{
  text-decoration: none !important;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
