.button{
  width: 100px;
  border: 2px solid #00ffd5;
  border-radius: 5px;
  padding: 5px 20px 7px 20px !important;
}
.button:hover{
  background: #00ffd5;
  color: #000 !important;
}
.link:hover{
  text-decoration: none !important;
  font-weight: 600;
}
